* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}
:root {
  --bg-color: linear-gradient(
    to left,
    rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1),
    rgba(247, 233, 63, 1)
  );
  --primary-color: #ffffff;
  --text-gray: #627382;
}

/* shared style  */
.description {
  font-size: 1rem;
  line-height: 1.62rem;
  color: var(--text-gray);
}
.section-title {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 700;
}
.container {
  max-width: 1200px;
  margin: 7.5rem auto 0;
  text-align: center;
}
.btn {
  background: var(--bg-color);
  padding: 0.75rem 1rem;
  border-radius: 10000px;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

/* nav related styles  */
nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 1.87rem;
}
.nav-title {
  font-size: 2rem;
  font-weight: 600;
}
.linear {
  background: var(--bg-color);
  color: transparent;
  background-clip: text;
}
.hamburger-menu {
  display: none;
}
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
}
/* banner section */
.banner-section {
  background-image:
    url("../assets/hero-circle.png"), url("../assets/hero-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    center top 40px,
    top center;
  background-size: 20.43rem, cover;
  text-align: center;
  padding: 6.31rem 0;
  position: relative;
}
.banner-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-top: 100px;
}
#tooltip {
  position: absolute;
  top: 71px;
  left: 867px;
  color: black;
  background-color: #00ff88;
  font-weight: 800;
  padding: 12px 16px;
  border-radius: 1000px;
}
.header-btn {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 8px;
}
.video-duration {
  display: flex;
  gap: 10px;
}
.spotify,
.message {
  max-width: 201px;
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 0.75rem 1rem;
  border-radius: 10000px;
  gap: 10px;
}
.banner-btn {
 color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: none;
}

/* responsive for small device */
@media screen and (max-width: 576px) {
  nav {
    padding: 20px;
  }
  .hamburger-menu {
    display: block;
  }
  .nav-menu,
  .nav-btn {
    display: none;
  }
  .banner-section {
    background-size: 200px, contain;
    padding: 2.38rem 0;
    background-position:
      center top 5px,
      top center;
  }
  .banner-image {
    width: 80px;
  }
}
