* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: #1a0b2e;
  color: white;
}
:root {
  --bg-color: linear-gradient(
    to left,
    rgba(145, 0, 248, 1),
    rgba(251, 9, 180, 1),
    rgba(247, 233, 63, 1)
  );
  --primary-color: #ffffff;
  --text-gray: #627382;
  --light-green: #00ff88;
}
::selection {
  background-color: rgba(251, 9, 180, 1);
  color: rgba(247, 233, 63, 1);
}

/* shared style  */
.description {
  font-size: 1rem;
  line-height: 1.62rem;
  color: var(--text-gray);
}
.section-title {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: 700;
}
.container {
  max-width: 1200px;
  margin: 7.5rem auto 0;
  text-align: center;
}
.btn {
  background: var(--bg-color);
  padding: 0.75rem 1rem;
  border-radius: 10000px;
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid transparent;
}

/* nav related styles  */
nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 1.87rem;
}
.nav-title {
  font-size: 2.5rem;
  font-weight: 600;
  transition: 0.3s ease-in;
}
.nav-title:hover,
.footer-title:hover,
.link-box:hover {
  background: var(--bg-color);
  color: transparent;
  background-clip: text;
}
.linear {
  background: var(--bg-color);
  color: transparent;
  background-clip: text;
}
.hamburger-menu {
  display: none;
}
.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s linear;
}
.nav-link:hover {
  background: var(--bg-color);
  color: transparent;
  background-clip: text;
}
/* banner section */
.banner-section {
  background-image:
    url("../assets/hero-circle.png"), url("../assets/hero-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position:
    center top 40px,
    top center;
  background-size: 20.43rem, cover;
  text-align: center;
  padding: 6.31rem 0;
  position: relative;
}
.banner-title {
  font-size: 3.75rem;
  font-weight: 800;
  color: var(--primary-color);
  margin-top: 6.25rem;
}
#tooltip {
  position: absolute;
  bottom: 598px;
  left: 802px;
  color: black;
  background-color: var(--light-green);
  font-weight: 800;
  padding: 0.75rem 1rem;
  border-radius: 1000px;
}
.header-btn {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.spotify,
.message {
  max-width: 12.56rem;
  display: flex;
  align-items: center;
  background: var(--bg-color);
  padding: 0.75rem 1rem;
  border-radius: 625rem;
  gap: 0.62rem;
}
.banner-btn {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  background: transparent;
  border: none;
}
.message {
  border: 1px solid var(--light-green);
  background: transparent;
}
.message button {
  color: var(--light-green);
}
/* about related style  */
.about-heading {
  margin-bottom: 16px;
}
.our-impact-box {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.impact-title {
  color: var(--light-green);
  margin-bottom: 16px;
}
/* Why choose TechWave */
.choose-techWave {
  background-color: #230e3d;
  padding: 120px 200px;
  margin-top: 120px;
}
.techWave-title {
  margin-bottom: 2.5rem;
}
.techWave-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-template-areas:
    "p m m"
    "p l l"
    "s s r";
}
.techWave-card {
  text-align: left;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
}
.techWave-card-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 0;
}
.Premium {
  grid-area: p;
}
.Mobile {
  grid-area: m;
}
.location {
  grid-area: l;
}
.speed {
  grid-area: s;
}
.resource {
  grid-area: r;
}
/* Featured Episodes */
.Episodes-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: left;
}
.Episodes-title {
  margin-bottom: 40px;
}
.video {
  width: 100%;
  height: 100%;
  border-radius: 24px 24px 0 0;
}
.video-duration {
  display: flex;
  gap: 0.62rem;
  justify-content: left;
  margin-top: 12px;
}
.video-content {
  border-radius: 0 0 24px 24px;
  background-color: rgba(53, 17, 101, 0.4);
  padding: 24px;
}
.video-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.video {
  height: 214px;
}
/* Meet the Host related styles */
.host-title {
  margin-bottom: 40px;
}
.Author-Bio {
  text-align: left;
  background-color: rgba(53, 17, 101, 0.4);
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  border-radius: 40px;
}
.author-name {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.author-social {
  margin-top: 1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
/* footer related styles */
footer {
  background-image: url("../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 120px;
  text-align: center;
  padding: 120px 0;
}
.footer-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 32px;
}
.link-box {
  display: flex;
  gap: 8px;
}
.link-box img {
  display: inline-block;
  transition: 0.4s ease-in;
}
/* responsive for small device */
@media screen and (max-width: 576px) {
  .container {
    margin: 0 auto;
  }
  nav {
    padding: 20px;
  }
  .hamburger-menu {
    display: block;
  }
  .nav-menu,
  .nav-btn {
    display: none;
  }
  .banner-section {
    background-size: 200px, contain;
    padding: 2.38rem 0;
    background-position:
      center top 5px,
      top center;
  }
  .banner-image {
    width: 80px;
  }
  #tooltip {
    bottom: 91.7%;
    left: 59%;
  }
  .our-impact-box {
    flex-wrap: wrap;
  }
  .choose-techWave {
    padding: 20px 0px;
    margin: 0;
  }
  .techWave-box {
    grid-template-areas:
      "p p p"
      "m m m"
      "l l l"
      "s s s"
      "r r r";
  }
  .section-title {
    font-size: 2rem;
  }
  .Episodes-box,
  .Author-Bio {
    flex-direction: column;
  }
  .Episodes-title,
  .host-title {
    margin: 15px 0;
  }
  .Author-Bio {
    text-align: center;
  }
  .author-social {
    justify-content: center;
  }
  .social-link {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .container {
    margin: 0 auto;
  }
  nav {
    padding: 20px;
  }
  .nav-menu {
    display: block;
  }
  .nav-btn {
    display: none;
  }
  .nav-menu {
    display: flex;
    width: 40%;
  }
  .banner-section {
    background-size: 200px, contain;
    padding: 2.38rem 0;
    background-position:
      center top 5px,
      top center;
  }
  .banner-image {
    width: 80px;
  }
  #tooltip {
    bottom: 91.7%;
    left: 53%;
  }
  .our-impact-box {
    flex-wrap: wrap;
  }
  .choose-techWave {
    padding: 20px 0px;
    margin: 0;
  }
  .techWave-box {
    grid-template-areas:
      "p   m"
      "l   s"
      "r  r r";
    padding: 20px;
  }
  .section-title {
    font-size: 2rem;
  }
  .Episodes-box,
  .Author-Bio {
    flex-direction: column;
  }
  .Episodes-title,
  .host-title {
    margin: 15px 0;
  }
  .video {
    height: 553px;
  }
  .Author-Bio {
    text-align: center;
  }
  .author-social {
    justify-content: center;
  }
  .social-link {
    flex-wrap: wrap;
  }
}
